= haml :"/person/header"

%script{:src => "/person/person.js", :type => "text/javascript"}

%div{:style => "color: #0000FF;background-color: #00FF00"}
  .row
    .col-lg-6
      %form.newComment.input-group{:action => "/person/#{@person}/#{@category}", :method => "post"}
        %span.input-group-btn
          %button.btn.btn-default{:type => "submit"}
            Submit new
        %input.form-control{:type => "text", :name => "fact"}


        
    %table.table{:width => "100%"}
      %thead
      %tbody.comments
      
%div.form-group
  %input.password{:type => "password"}
  %button.getComments
    Enter password