= haml :"/games/header"

%link{:rel => "stylesheet", :type => "text/css", :href => "/games/button.css"}
%script{:src => "/games/button.js", :type => "text/javascript"}

%p.score
  Score = 0
%div.gameArea
  %button.game 
    click me