= haml :"/games/header"

%script{:src => "/games/stocks.js", :type => "text/javascript"}


%table.table{:width => "100%"}
  %thead
  %tbody
    %tr
      %td
        Current Money
    %tr
      %td{:id => "money"}
        1000

- companies = []
- companies << ["Cats Inc", "Dogs Ltd", "Putter LLC", "Iron Corp", "Wood Foundation", "Hybrid Branch"]
- companies << ["Birdy Partnership", "Bunker Traders", "Rough Trust"]
- companies.flatten!
%p
  Note: Tendency is how likely the stock is to increase/decrease from 0 - 1
%table.table{:width => "100%"}
  %thead
  %tbody
    %tr
      %th
        Name
      %th
        Price
      %th
        Tendency
      %th
        Number Held
      %th
        Buy
      %th 
        Sell
    - companies.each_with_index do |company, i|
      %tr.stock-row{:id => i}
        %td
          = company
        %td{:id => "price"}
        %td{:id => "tendency"}
        %td{:id => "held"}
          0
        %td.center{:width => "20px"}
          %button.btn.btn-link.buy-button{:type => 'button', :'data-index' => i }
            %i.fa.fa-plus.text-sucess
        %td.center{:width => "20px"}
          %button.btn.btn-link.sell-button{:type => 'button', :'data-index' => i }
            %i.fa.fa-minus.text-danger
